:root {
    --main-color: #E5E5E5;
    --second-color: #2E2F42;
    --third-color: #4D5AE5;
    --fourth-color: #2E2F42;
    --adress-colour: #434455; 
    --white-color: #FFFFFF;
    --team-color: #2E2F42;
}

ul,
p,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

li {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    background-color: var(--white-color);
}

.list {
    list-style-type: none;
    display: flex;
    padding-left: 0px;
}

.pagetle {
    display: flex;
    padding-left: 0px;
}



.future-title{
    font-size: 20px;
    line-height: 1.2;
    font-weight: 500;
    letter-spacing: 0.02em;
    color: var(--fourth-color);
    margin-top: 0px;
}

.logo-first {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    display: flex;

}

.logo-second {
    color: var(--fourth-color);
    display: flex;
 
}


.addreess-link: {
    font-style: normal;
    color: var(--adress-colour);   
    text-decoration: none;
    list-style: none;
    line-height: 1.5;
    
}

.addreess-link :hover {
    color: var(--third-color);
}

.address-link {
    font-style: normal;
    color: var(--adress-colour);
    text-decoration: none;   
    list-style: none;
    line-height: 1.5;
    display: flex;
    gap: 40px;
    position: absolute;
    left: 940px;
    top: 24px;
}

.address-links {
    font-family: 'Roboto';
    font-style: normal;
    left: 1133px;
    top: 24px;
    position: absolute;

}

.address-link :hover {
    color: var(--third-color);
}

.adress {
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-link  {
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.5;
    color: var(--second-color);
    text-decoration: none;
    display: flex;

}

.nav-link :hover {
    color: var(--third-color);
}


.battons {   
    background: #404BBF;
    cursor: pointer;

}

.hero {
    padding-top: 188px;
    padding-bottom: 188px;
}

.container-hero {
    text-align: center;
    background-color: #2E2F42;
}

.hero-title {
    color: var(--white-color);
    font-size: 56px;
    line-height: 1.07;
    font-size: 56px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.02em;
    position: absolute;
    left: 472px;
    top: 260px;


}

.hero-title-box {
    background: #2E2F42;
    width: 1440px;
    height: 600px;
    left: 0px;
    top: 72px;
}


.info-one {
    line-height: 1.5;  
    letter-spacing: 0.02em;
    color: var(--adress-colour);   
}

.info-second {
    letter-spacing: normal;
    color: var(--adress-colour);
    line-height: 1.5;   
}

.buttun {
    background: #4D5AE5;
    cursor: pointer;
    color: var(--main-color);
    Padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    position: absolute;

}

.buttun :hover {
    color: OCEAN; 
}

button {
    cursor: pointer;
    background: var(--main-color);
}

.team-title {
   color: #2E2F42;
   font-weight: 500;
   font-size: 20px;
   line-height: 1.5;
   letter-spacing: 0.02em;
}

.page-title {
    background-color: #2E2F42;
    padding: 188px 0;
    
}

.logo-seconds {
    color: var(--white-color);
    line-height: 1.16;
    font-size: 18px;
}


.footer {
    padding: 100px 0;
    background: #2E2F42;
}

.page-header {
    color: var(--main-color);
    border-bottom: 1px solid #E7E9FC;
}

.page-titlee {
    padding: 120px;
}

.list-of-img {
    display: flex;
    gap: 24px;
    padding-left: 0px;
    

}

.header-container { 
    display: flex;
    width: 1158px;
    margin: 0;
    padding: 0 15px;
    border-bottom: 1px solid #F4F4FD;
}

.header-navigation {
    display: flex;
    align-items: center;
    margin: 0;

}

.item-nav {
    margin-right: 40px;
}


li {
    list-style-type: none;
}

.container-section-one {
    display: flex;
    align-items: center;
}

.section-two{ 
    padding-bottom: 120px;
  }

.info-seconds {
    color: var(--white-color);
    line-height: 1.5;   
    letter-spacing: 0.02em;
}

.team-mate {
    background: #FFFFFF;  
    border-radius: 0px 0px 4px 4px;  
    color: var(--team-color);
    padding: 0px 0px 32px;
    gap: 32px;
}

.team-title {
    color: var(--team-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;   
    letter-spacing: 0.02em;
}

.team {
    background-color: #e7e9fc;
    padding: 120px 0; 
}

.section-title {
    font-size: 36px;
    line-height: 1.11;    
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;  
    color: var(--fourth-color);  
    border: 1px solid #E7E9FC;
    flex: none;

}

.header-container {
    display: flex;
}

.header-navigation {
    display: flex;
    align-items: center;
}

.container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    margin-right: auto;
}

.user-team list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    padding-left: 0px;
}

.modal-btn-portfolio:hover,
.modal-btn-portfolio:focus {
  background-color: #404BBF;
  color: var(--text-hero-footer);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
} 

.modal-items {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 72px;
    } 

.portfolio-items .list {
    justify-content: center; 
    gap: 24px;

}

.porfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-box { 
    margin-right: 0;
    margin-bottom: 0;
  }  

.section-title {
    left: 559px;
    top: 1016px;
    text-align: center;
    letter-spacing: 0.02em;
}